<a href="https://colab.research.google.com/github/Yuki-Inagawa/colab-git-test/blob/main/colab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("I'm testing conencting colab with git")

I'm testing conencting colab with git

In [11]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer


data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

df = pd.DataFrame(data=data)

In [12]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [15]:
# 欠損値を平均値で埋める
numeric_cols = df.select_dtypes(include='number').columns
nonnumeric_cols = df.select_dtypes(exclude='number').columns

numeric_imputer = SimpleImputer(strategy='mean')

df_imputed = pd.concat([pd.DataFrame(numeric_imputer.fit_transform(df[numeric_cols]), columns=numeric_cols),
                        pd.DataFrame(df[nonnumeric_cols], columns=nonnumeric_cols)], axis=1)

In [18]:
print(df_imputed[["size",  "color",  "gender",  "price",  "weight", "bought"]])

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN  117.0   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no